.wrapper {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  margin: auto;
  width: 50%;
  text-align: center;
  line-height: 20px;
}

ul,
ol {
  list-style: none;
}
.header {
  margin: 20px;
}

.main {
  margin: 20px;
}

ul {
    display: flex;
}

.aside ul > li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.aside li {
  flex-wrap: nowrap;
  align-items: center;
  width: 10px;
  padding: 10px;
  margin: 30px;
  align-content: stretch;
  align-items: center;
}

.footer {
 
  margin: 50px;
}
